$blue:   #3A59CA !default;
$red:    #B13226 !default;
$orange: #FE7A1D !default;
$yellow: #FECD01 !default;
$green:  #3A742C !default;

$font-family-sans-serif: "Source Sans Pro", sans-serif !default;
$font-family-monospace: "Source Code Pro", monospace !default;

$headings-font-weight: 600 !default;
