$blue:   #3a59ca !default;
$red:    #b13226 !default;
$orange: #fe7a1d !default;
$yellow: #fecd01 !default;
$green:  #3a742c !default;

$font-family-sans-serif: "Source Sans Pro", sans-serif !default;
$font-family-monospace: "Source Code Pro", monospace !default;

$headings-font-weight: 600 !default;
