{%- assign title = site.description | append: ' | ' | append: site.title -%}
{%- assign description = site.description -%}
{%- assign url = site.url | append: site.baseurl -%}
{%- if page.url != '/' -%}
  {%- if page.url -%}
    {%- assign url = page.url | prepend: url -%}
  {%- endif -%}
  {%- if page.title -%}
    {%- assign title = page.title | append: ' | ' | append: site.title -%}
  {%- endif -%}
  {%- if page.description -%}
    {%- assign description = page.description -%}
  {%- endif -%}
{%- endif -%}
{%- assign title = title | xml_escape -%}
{%- assign description = description | xml_escape -%}
{%- assign image = 'https://images.loriqeet.com/' -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ site.username }}">
    <meta name="twitter:creator" content="@{{ site.username }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ image }}">
    <meta name="twitter:image:alt" content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image" content="{{ image }}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">
    <meta property="og:image:alt" content="{{ description }}">
    <link rel="icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}">
    <link rel="icon" href="{{ '/assets/img/icon.svg' | prepend: site.baseurl }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | prepend: site.baseurl }}">
    <link rel="manifest" href="{{ '/manifest.webmanifest' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
    <title>{{ title }}</title>
  </head>
  <body>
    {{ content }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ '/assets/js/script.js' | prepend: site.baseurl }}"></script>
  </body>
</html>
