---
layout: default
---

<header class="bg-light border-bottom py-5 text-center text-lg-start">
  <div class="container">
    <h1 class="display-6">{{ page.title }}</h1>
    <p class="lead">{{ page.description }}</p>
  </div>
</header>

<main class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-9">
        {{ content }}
      </div>
      <div class="d-none d-lg-block col-lg-3">
        <div class="ms-4 ps-4 border-start">
          <h2 class="h6 text-muted">On this page</h2>
          {% include toc.html
            html=content
            sanitize=true
            class='nav flex-column'
            h_min=2
            h_max=2
            item_class='nav-item'
            anchor_class='nav-link px-0'
            skip_no_ids=true
          %}
        </div>
      </div>
    </div>
  </div>
</main>
