---
layout: default
---

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">
      <img alt="{{ site.title | downcase }}" src="https://assets.loriqeet.com/img/logotype.svg" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link small mx-auto mx-lg-2" href="{{ '/' | prepend: site.baseurl }}#why-loriqeet">Why loriqeet?</a>
        <a class="nav-link small mx-auto d-block d-lg-none" href="{{ '/' | prepend: site.baseurl }}#try-loriqeet-for-free">Try loriqeet for free</a>
      </div>
    </div>
    <div class="d-none d-lg-block ms-lg-2">
      <a class="btn btn-primary" href="{{ '/' | prepend: site.baseurl }}#try-loriqeet-for-free">Try loriqeet for free</a>
    </div>
  </div>
</nav>
{{ content }}
<footer class="bg-dark text-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 text-center text-lg-start">
        <p class="mb-4"><a href="{{ '/' | prepend: site.baseurl }}"><img alt="{{ site.title | downcase }}" src="https://assets.loriqeet.com/img/logotype-white.svg" height="40"></a></p>
      </div>
      <div class="col-12 col-lg-6">
        <ul class="list-inline mb-4 text-center text-lg-end">
          <li class="list-inline-item m-3"><a class="text-light fs-4" href="https://www.facebook.com/loriqeet" target="_blank"><i class="bi bi-facebook"></i></a></li>
          <li class="list-inline-item m-3"><a class="text-light fs-4" href="https://twitter.com/loriqeet" target="_blank"><i class="bi bi-twitter"></i></a></li>
          <li class="list-inline-item m-3"><a class="text-light fs-4" href="https://www.instagram.com/loriqeet/" target="_blank"><i class="bi bi-instagram"></i></a></li>
          <li class="d-block d-lg-none"></li>
          <li class="list-inline-item m-3"><a class="text-light fs-4" href="https://www.youtube.com/channel/UCk13g1jT2yGXXjyPL_5_phw" target="_blank"><i class="bi bi-youtube"></i></a></li>
          <li class="list-inline-item m-3"><a class="text-light fs-4" href="https://www.linkedin.com/company/loriqeet/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
          <li class="list-inline-item m-3 me-lg-0"><a class="text-light fs-4" href="https://github.com/loriqeet" target="_blank"><i class="bi bi-github"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 text-center text-lg-start">
        <p class="mb-4 small">&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
      </div>
      <div class="col-12 col-lg-6 text-center text-lg-end">
        <p class="mb-4 small"><a class="text-light text-decoration-none" href="https://docs.loriqeet.com/" target="_blank">Documentation</a></p>
      </div>
    </div>
  </div>
</footer>
